<% provide(:title, "About") %>
<html>
  <head>
    <title><%= yield(:title) %> | Framgia reviewing book system</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      <a href="http://www.railstutorial.org/"><em>Framgia reviewing book
      system </em></a> is a
      <a href="http://www.railstutorial.org/book">site</a>
      to reading, reviewing book for Framgia's member.
      <a href="http://rubyonrails.org/">Framgia reviewing book</a>.
      This is the site
    </p>
  </body>
</html>
