<% provide(:title, "Help") %>
<html>
  <head>
    <title><%= yield(:title) %> | Framgia reviewing book system</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get help on the Framgia reviewing book system at the
      <a href="http://www.railstutorial.org/help">Framgia reviewing book</a>.
      To get help on this app, see the
      <a href="http://www.railstutorial.org/book"><em>Framgia reviewing
      book system</em></a>.
    </p>
  </body>
</html>
